In [19]:
import requests
from selenium.webdriver.chrome.options import Options
import pandas as pd
options = Options()
options.add_argument("--disable-notifications")
r = requests.get("https://www.moneydj.com/funddj/ya/yp010000.djhtm?a=ACFH50")
r.status_code

200

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')

In [17]:
fund_table = soup.find_all('table', class_ = 't01')[1:]
fund_table

[<table border="0" cellpadding="0" cellspacing="0" class="t01"><tr><td class="t2c1" width="50%">日期</td><td class="t2" width="50%">淨值</td></tr>
 <tr><td class="t3n0c1">04/27</td>
 <td class="t3n1">14.0700</td></tr>
 <tr><td class="t3n0c1_rev">04/26</td>
 <td class="t3n1_rev">14.0000</td></tr>
 <tr><td class="t3n0c1">04/23</td>
 <td class="t3n1">14.2300</td></tr>
 <tr><td class="t3n0c1_rev">04/22</td>
 <td class="t3n1_rev">14.0600</td></tr>
 <tr><td class="t3n0c1">04/21</td>
 <td class="t3n1">14.0100</td></tr>
 <tr><td class="t3n0c1_rev">04/20</td>
 <td class="t3n1_rev">14.0200</td></tr>
 <tr><td class="t3n0c1">04/19</td>
 <td class="t3n1">14.0100</td></tr>
 <tr><td class="t3n0c1_rev">04/16</td>
 <td class="t3n1_rev">13.7800</td></tr>
 <tr><td class="t3n0c1">04/15</td>
 <td class="t3n1">13.7200</td></tr>
 <tr><td class="t3n0c1_rev">04/14</td>
 <td class="t3n1_rev">13.9100</td></tr>
 </table>,
 <table border="0" cellpadding="0" cellspacing="0" class="t01"><tr><td class="t2" width="50%">日期</td><td class="t2" width="50%">淨值</td></tr>
 <tr><td class="t3n0">04/13</td>
 <td class="t3n1">13.7600</td></tr>
 <tr><td class="t3n0_rev">04/12</td>
 <td class="t3n1_rev">13.8000</td></tr>
 <tr><td class="t3n0">04/09</td>
 <td class="t3n1">13.9100</td></tr>
 <tr><td class="t3n0_rev">04/08</td>
 <td class="t3n1_rev">14.1000</td></tr>
 <tr><td class="t3n0">04/07</td>
 <td class="t3n1">14.0900</td></tr>
 <tr><td class="t3n0_rev">04/01</td>
 <td class="t3n1_rev">14.2400</td></tr>
 <tr><td class="t3n0">03/31</td>
 <td class="t3n1">14.0200</td></tr>
 <tr><td class="t3n0_rev">03/30</td>
 <td class="t3n1_rev">14.1300</td></tr>
 <tr><td class="t3n0">03/29</td>
 <td class="t3n1">14.0400</td></tr>
 <tr><td class="t3n0_rev">03/26</td>
 <td class="t3n1_rev">14.1200</td></tr>
 </table>,
 <table border="0" cellpadding="0" cellspacing="0" class="t01"><tr><td class="t2" width="50%">日期</td><td class="t2" width="50%">淨值</td></tr>
 <tr><td class="t3n0">03/25</td>
 <td class="t3n1">13.8200</td></tr>
 <tr><td class="t3n0_rev">03/24</td>
 <td class="t3n1_rev">13.8700</td></tr>
 <tr><td class="t3n0">03/23</td>
 <td class="t3n1">14.0800</td></tr>
 <tr><td class="t3n0_rev">03/22</td>
 <td class="t3n1_rev">14.2600</td></tr>
 <tr><td class="t3n0">03/19</td>
 <td class="t3n1">14.2200</td></tr>
 <tr><td class="t3n0_rev">03/18</td>
 <td class="t3n1_rev">14.4900</td></tr>
 <tr><td class="t3n0">03/17</td>
 <td class="t3n1">14.3800</td></tr>
 <tr><td class="t3n0_rev">03/16</td>
 <td class="t3n1_rev">14.3700</td></tr>
 <tr><td class="t3n0">03/15</td>
 <td class="t3n1">14.1800</td></tr>
 <tr><td class="t3n0_rev">03/12</td>
 <td class="t3n1_rev">14.4500</td></tr>
 </table>]